In [34]:
import pandas as pd

# lead dataset from githhub repo

url = "https://raw.githubusercontent.com/Pallvi9827/House_Price_Prediction/refs/heads/main/data.csv"
data = pd.read_csv(url)

# display first 5 rows

data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [35]:
print("Dataset Information : ")
print(data.info())

print("\nColumns names : ")
print(data.columns)

print("First 5 Rows : ")
print(data.head())

print("Basic Statistics : ")
print(data.describe())

Dataset Information :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB
None

Columns names :
Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')
First 5 Rows :
                  date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  2014-05-02 00:00:00   313000.0       3.0       1.50         1340      7912
1  2014-05-02 00:00:00  2384000.0       5.0       2.50         3650      9050
2  2014-05-02 00:00:00   342000.0       3.0       2.00         1930     11947
3  2014-05-02 00:00:00   420000.0       3.0       2.25         2000      8030
4  2014-05-02 00:00:00   550000.0       4.0       2.50         1940     10500

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     1.5           0     0          3        1340              0      1955
1     2.0           0     4          5        3370            280      1921
2     1.0           0     0          4        1930              0      1966
3     1.0           0     0          4        1000           1000      1963
4     1.0           0     0          4        1140            800      1976

   yr_renovated                    street       city  statezip country
0          2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
1             0           709 W Blaine St    Seattle  WA 98119     USA
2             0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3             0           857 170th Pl NE   Bellevue  WA 98008     USA
4          1992         9105 170th Ave NE    Redmond  WA 98052     USA
Basic Statistics :
              price     bedrooms    bathrooms   sqft_living      sqft_lot  \
count  4.600000e+03  4600.000000  4600.000000   4600.000000  4.600000e+03
mean   5.519630e+05     3.400870     2.160815   2139.346957  1.485252e+04
std    5.638347e+05     0.908848     0.783781    963.206916  3.588444e+04
min    0.000000e+00     0.000000     0.000000    370.000000  6.380000e+02
25%    3.228750e+05     3.000000     1.750000   1460.000000  5.000750e+03
50%    4.609435e+05     3.000000     2.250000   1980.000000  7.683000e+03
75%    6.549625e+05     4.000000     2.500000   2620.000000  1.100125e+04
max    2.659000e+07     9.000000     8.000000  13540.000000  1.074218e+06

            floors   waterfront         view    condition   sqft_above  \
count  4600.000000  4600.000000  4600.000000  4600.000000  4600.000000
mean      1.512065     0.007174     0.240652     3.451739  1827.265435
std       0.538288     0.084404     0.778405     0.677230   862.168977
min       1.000000     0.000000     0.000000     1.000000   370.000000
25%       1.000000     0.000000     0.000000     3.000000  1190.000000
50%       1.500000     0.000000     0.000000     3.000000  1590.000000
75%       2.000000     0.000000     0.000000     4.000000  2300.000000
max       3.500000     1.000000     4.000000     5.000000  9410.000000

       sqft_basement     yr_built  yr_renovated
count    4600.000000  4600.000000   4600.000000
mean      312.081522  1970.786304    808.608261
std       464.137228    29.731848    979.414536
min         0.000000  1900.000000      0.000000
25%         0.000000  1951.000000      0.000000
50%         0.000000  1976.000000      0.000000
75%       610.000000  1997.000000   1999.000000
max      4820.000000  2014.000000   2014.000000

In [36]:
print("Missing values in each columns : ")
print(data.isnull().sum())

Missing values in each columns :
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [37]:
# drop unnecessary columns

data_cleaned = data.drop(['date','street','city','statezip','country'],axis=1)

# display cleaned dataset structure
print("cleaned dataset columns : ")
print(data_cleaned.columns)

cleaned dataset columns :
Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'sqft_above', 'sqft_basement',
       'yr_built', 'yr_renovated'],
      dtype='object')

In [48]:
#"Remove outliers in price greater than 2 million "
data_cleaned = data_cleaned[data_cleaned['price'] < 2000000]

# Remove unusual large houses

data_cleaned = data_cleaned[(data_cleaned['sqft_living'] <7000) & (data_cleaned['sqft_lot'] < 50000)]

#Display cleaned data's new shape
print("New dataset size : ", data_cleaned.shape)

New dataset size :  (4365, 13)

In [49]:
# save cleaned data as csv

data_cleaned.to_csv('house_Price_data_cleaned.csv',index = False)

In [50]:

url='https://raw.githubusercontent.com/Pallvi9827/House_Price_Prediction/refs/heads/main/house_Price_data_cleaned.csv'
data= pd.read_csv(url)
data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005
1,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0
2,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0
3,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992
4,490000.0,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994

In [51]:
# select features x and tanget values y

x= data[['bedrooms','bathrooms','sqft_living','floors','waterfront','view','condition','yr_built']] #features

y= data['price'] #target

#display the shape to confirm
print("Feature's shape : ",x.shape)
print("Tanget's shape : ",y.shape)

Feature's shape :  (4365, 8)
Tanget's shape :  (4365,)

In [52]:
# splitting the model for training and testing

from sklearn.model_selection import train_test_split

# split the data
x_train ,x_test ,y_train ,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

#display the size of each set

print(" Training features shape : ", x_train.shape)
print(" Testing features shape : ", x_test.shape)
print(" Training target shape : ",y_train.shape)
print(" Testing target shape : ", y_test.shape)

 Training features shape :  (3492, 8)
 Testing features shape :  (873, 8)
 Training target shape :  (3492,)
 Testing target shape :  (873,)

In [53]:
# Train Model

from sklearn.linear_model import LinearRegression

# Initialize the model
model = LinearRegression()

model.fit(x_train,y_train)

print("Model training complete")

Model training complete

In [54]:
#Test Model

# make predictions
y_pred = model.predict(x_test)

# Display some predictions alongside with actual values

comparison = pd.DataFrame({'Actual':y_test.values,'Predicted':y_pred})
print(comparison.head(10))

      Actual      Predicted
0  1256500.0  785506.734987
1   530000.0  422439.680380
2   364000.0  452916.717779
3   200000.0  296143.253547
4   635000.0  554816.411964
5  1230000.0  625850.583028
6   450000.0  533220.752461
7   405000.0  626117.037048
8   485000.0  567299.863451
9   850000.0  867387.029959

In [55]:
from sklearn.metrics import mean_absolute_error , mean_squared_error , r2_score
import numpy as np

mae = mean_absolute_error(y_test,y_pred)
mse = mean_squared_error(y_test,y_pred)
rmse= np.sqrt(mse)
r2 = r2_score(y_test,y_pred)

print(f"mean absolute error : {mae}")
print(f"mean squarred error : {mse}")
print(f"Root mean squarred error {rmse}")
print(f"R2 score :",{r2})

mean absolute error : 143801.10708057333
mean squarred error : 42190092915.948654
Root mean squarred error 205402.27096103065
R2 score : {0.4709650302988091}